<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://www.yelp.com/" target="_blank">Yelp</a> |
            <a class="link" href="https://www.facebook.com/
" target="_blank">Facebook</a> |
            <a class="link" href="https://www.google.com/maps/place/Vy's+Kitchen/@30.6272334,-96.3347432,17z/data=!3m1!4b1!4m5!3m4!1s0x864683f2b299bd0d:0xf48d74579c6ee3d9!8m2!3d30.6272334!4d-96.3325545" target="_blank">Google</a> |
            <a class="link" href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a>
        </div>
        <p class="copyright">
            Copyright © 2018 ricegarden.com All Right Reserved
        </p>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
